/*
 * Z-index:
 * base: body
 * #1 page, #layout
 * #2 screen
 * #2 qrcode-btn
 * #190 widget-layer
 * #199 overlay
 * #200 nav-btn(next,prev)
 * #250 PIXI (webGL/ svg)
 * #300 drag and drop, web-cam (video),
 * #1020 (pointer), 
 * #1021 (toolbar, tabsbar, settings-page), #widget-drawer
 * #1022 message, reset_slide_btn, toggle_page_head_div, 
 *      widget-dashboard, (attention-shap of widget-layer),
 * #1023 (bubble of ,gs-toolbar-div),
 * #1024 page-circle
 */
body{
    padding:0;
    margin:0;
    /* disable stupid default browser features on mobile devices*/
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;    
}
#layout{
    padding:0;
    margin:0;
    background-color:darkslategrey;
    width:100vw;
    height:100vh;
    position: absolute;
    left:0;
    top:0;
    z-index:1;
}
/*
#top{
    background-color:darkslategrey;
    width:100%;
    height:100%;
    padding-top:60px;/ * height of page-head-div * /
}
#top-content{
    background-color: white;
    width:100%;
    height:100%;
}
*/
#page{
    background-color:darkslategrey;
    padding:0;
    margin:0;
    position:absolute;
    z-index:1;
    user-select: none;
    overflow: hidden;/* keep static under scaling */
}
#page-head{
    height:60px;
}
#widget-drawer{
    position: absolute;
    height:100px;
    width:100%;
    z-index:1021;
    rgba(255, 255, 255, 0.28);
    transition: top 0.1s ease 0s;
    top:-40px;/* 60 - 100 */
    
    display:flex;
    align-items: center;
    justify-content: center;
}
#widget-drawer.close{
    display: none;
}
#widget-drawer.open{
    display: flex;
    top:60px;
    
}
#widget-drawer .slot{
    width:90px;
    height:90px;
    background-color: transparent;
    margin:0px 3px;
    cursor: pointer;
    overflow: hidden;
}
#widget-drawer .slot.empty{
    background-color: rgba(241, 241, 241, 0.25);
    border:dotted 1px gray;
}
#widget-drawer .slot .widget{
    position: relative;
    top:0;
    left:0;
    transform-origin: top left !important;
}
/*
#page-circle{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin-right: 15px;
}
#page-circle.static{
    / * not in toolbar, in html * /
    position: absolute;
    bottom:2px;
    background-color:transparent;
    z-index:1024;
    display:block;
    width:100%;
    text-shadow:#808080 1px 1px 1px;
}
#page-circle p{
    margin:0;
    padding:0;
    display:inline-block;
}
#page-circle.static p{
    width: 40px;
    border-radius:10px;
    background-color:rgba(255,255,255,0.1);
}
#page-cirlc .page-total{
    font-size:0.8em;
}

#page-circle.static:hover p{
    background-color:rgba(255,255,255,1);
    text-shadow:white 1px 1px 1px;
}
#page-cirlc.static .page-total{
    font-size:1em;
}
*/
#page-content{
    padding:0;
    margin:0;
    position: absolute;
    top:0;
    left:0;
    background-color:transparent;
}
#screen-frame{
    padding:0;
    margin:0;
    position: absolute;
    top:0;
    left:0;
    transform:scale(1) translate(0px,0px);
}
#screen-frame.readonly{
    overflow: hidden;
}
#screen-frame.cuing{
    transition: 0.2s;
}
#screen-frame.cued{
    transition: none;
}
#screen-frame.cuing #overlay_surface {
    /* 在被cue的時候不會干擾widget的選定*/
    pointer-events: none;
}
#screen-frame.selected{
    outline: rgb(250, 95, 5) dashed 2px;
    outline-offset: 4px;
}
#screen{
    padding:0;
    margin:0;
    top:0;
    left:0;
    position:absolute;    
    z-index:2;
    position:absolute;
    transform:scale(1) translate(0px,0px);
    cursor:pointer;
}
#toggle-page-head-div{
    position:absolute;
    left:0;
    top:0;
    z-index:1022;
    height:20px;
    width:50px;
    padding:5px;
    overflow: hidden;
    text-shadow: white 0px 0px 10px;
    background-color:white;
}
#toggle-page-head-div.expanded{
    filter:invert(1);
    mix-blend-mode: difference;
    background-color:transparent !important;
}
#toggle-page-head-div a{
    color:black;
}
#toggle-page-head-div a:hover{
    color:rgba(0,0,0,0.75);
}

#toolbar{
    position:fixed;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    top:30px;
    border-bottom:solid 1px #e8e8e8;
    z-index:1021;
}
.round.members-count{
    display:inline-block;
    text-align:center;
    padding:2px 5px;
    border-radius:10px;
    border:solid 1px #c0c0c0;
}
/* override w2ui's feature*/
#screen .w2ui-panel-content{
    background-color: transparent;
    outline: #c0c0c0 solid 2px;
}
#tabsbar.w2ui-tabs{
    /* 左邊讓出空間給 #toggle-page-head-div */
    background-color:#dadada;
    position:fixed;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    top:0px;
    z-index:1021;
    height:30px;
}
#tabsbar .w2ui-tab{
    border-color:#b3b3b3;
}
#tabsbar .w2ui-tab.active{
    font-weight:bold;
    border-top:solid 2px #afafaf;
    border-right:solid 2px #a0a0a0;
}
#tabsbar.w2ui-tabs table tr:first-child td:first-child .w2ui-tab{
    /* first tab*/
    padding-left:10px;
    padding-right:10px;
    border:none;
    text-shadow: 0 0 1px #111;
}

/* camera */
#camera{
    width:100%;
    height:100%;
    display: inline-block;
    position:absolute;
    top:0px;
    left:0;
    z-index:1;
    background-color:#f0f0f0;
}
#camera-box-resize-btn, #camera-box-fixsize-btn, #camera-box-resizedone-btn{
    z-index:101;/* w2ui-box is 100, this should be on top of it */
}
#camera-box-resize-btn{
    float:left;
    display:none;
}
/* end of camera */

.slide-content {
    /*
    margin:0 auto;
    padding:0;
    */
    width:100%;
    height:100%;
    position: absolute;
    background-color: transparent;
}
.studio-fit-box{
    margin:0 auto;
    padding:0;
    position: absolute;
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size:contain;
}
.studio-full-box{
    background-repeat:no-repeat;
    background-position: 50% 50%;
    background-size:cover;
}

/* qrcode */
#qrcode-btn{
    position: absolute;
    bottom:1px;
    left:1px;
    z-index:2;
    opacity: 0.15;
}
#message{
    color:rgb(90, 90, 90);
    text-shadow: 1px 1px 10px white;
    background-color:transparent;
    position:absolute;
    left:0px;
    text-align:center;
    z-index:1022;
    width:100%;
    height:50px;
    line-height: 50px;
    font-size:1.5em;
    display:none;
}

/* slide nav */
.nav-btn-bar{
    color:black;
    display:table;
    height:100%;
    top:0;
    width:40px;
    z-index:200;
    position: absolute;
    cursor:pointer;
    background-color:transparent;
    height: 50%;/*not to block "play" on video slide*/
    margin-top:20%;
    opacity: 0.0;
    display:flex;
    justify-content: center;
}
.nav-btn-bar.mobile{
}
.nav-btn-bar.active{
    opacity: 1;
}
.nav-btn-bar p{
    display: table-cell;
    vertical-align: middle;
}
.nav-btn-bar.mobile p{
    display: inline-flex;
    width:100%;
    margin:auto;
}
.nav-btn-bar p span{
    display: inline-block;
    background-color:white;
    width:100%;
    height:100px;
    line-height: 100px;
    text-align: center;
    border:solid 1px #c0c0c0;
    cursor:pointer;    
}
.nav-btn-bar.mobile p span {

}
#next-btn.nav-btn-bar{
    float:right;
    right:0;
    text-align:left;
}
#prev-btn.nav-btn-bar{
    float:left;
    left:0;
    text-align:right;
}
/* overlay */
/*
#overlay_canvas{
    position:absolute;
    top:0;
    left:0px;
    z-index:199;
    background-color: transparent;
}
*/
#overlay_surface{
    position:absolute;
    top:0px;
    left:0px;
    z-index:199;
    transform:scale(1) translate(0px,0px);
    pointer-events: none;
}
#overlay_surface * {
    pointer-events: none;
}
#overlay_surface.eraser_mode * {
    pointer-events: auto;
}
#overlay_surface.eraser_mode{
    cursor:pointer;
}
#overlay_surface.eraser_mode svg polyline:hover{
    opacity: 0.5;
    outline:dashed 1px yellow;
}

/* end of overlay */

/*dnd*/
#page.dragover #overlay_surface{
    background-color: rgba(148, 148, 148, 0.404);
}
#page.dragover{
    background-color: rgba(148, 148, 148, 0.404);
}

/*toolbar items*/
.scale2{
    /*
    -webkit-transform-origin:left top;
    transform-origin:left top;
    transform:scale(1.0);
    */
}
#drawsize-circle{
    vertical-align:middle;
    margin:0px 10px;
    display: inline-block;
}
#drawsize-circle.eraser{
    color:transparent;
    border:solid 1px #c0c0c0;
}
.sbs_name{
    color:#9090ff;
    font-weight:bold;
}

/* end of toolbar items */
/* 
.toast{ tiny message 
    width:200px;
    padding:20px;
}
*/
/* webRTC related css and filter */
video {
    object-fit: cover;
}
.none {
    -webkit-filter: none;
    filter: none;
}
.blur {
    -webkit-filter: blur(3px);
    filter: blur(3px);
}
.grayscale {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}
.invert {
    -webkit-filter: invert(1);
    filter: invert(1);
}
.sepia {
    -webkit-filter: sepia(1);
    filter: sepia(1);
}
.white {

}
/* end of webRTC related css and filter */
/* pointer */
.bubble{
    display:inline-block;
    position: absolute;
    z-index:1020;
    /*box-shadow: 0 0 0 2px #88b8ff;*/
    border-radius:30px;
    width:30px;
    height:30px;
    transition: all 500ms ease-out;
    transform: scale(0.5);
    opacity:1;   
}
.bubble.static{
    transition: all 1000ms ease-out;
}
.bubble.thrink{
    transform: scale(1);
    opacity: 0.5;
}
/* end of pointer */
/* pesudo google slides controller*/
.gs-toolbar{
    z-index:1023;
    position: absolute;
    left:2px;
    padding-left:4px;
    bottom: 2px;
    background-color:#323232;
    height: 26px;
    width: 350px;
}
.gs-toolbar .gs-btn{
    margin: 0;
    padding: 0px 5px;
    font-family: Roboto,Arial,sans-serif;
    font-size:16px;
    line-height: 24px;
    vertical-align: middle;
    border: 0;
    color: #cecece;
    cursor: pointer;
    display:inline-block;
    text-align: center;
}
.gs-toolbar .gs-btn .gs-label{
    height: 24px;
    width: 20px;
    vertical-align: middle;
}
.gs-toolbar .gs-btn:hover .gs-label{
    color:white;
}
.gs-toolbar .gs-btn.disabled .gs-label{
    color:#5d5d5d;
}
.gs-toolbar .gs-btn.disabled:hover .gs-label{
    color:#5d5d5d;
}
/* workaround for allsome-font*/
.fa {
    text-shadow:0px 1px 2px #929292;
}
.fa-dot-circle:before{
    content:"\f192"
}
fa-chess-board:before{
    content:"\f43c"
}
.fa.active{
    background-color:red;
    border-radius:4px;
    color:white !important;
    padding-top:1px;
}
.fa.green{
    background-color:#4bff00;    
    border-radius:4px;
    padding-top:1px;
    color:rgb(40, 182, 59) !important;
}
.fa.red{
    background-color:#eb2f17;    
    border-radius:4px;
    padding-top:1px;
    color:white !important;
    line-height:inherit;
}
.red{
    color: #fff !important;
    background-image: -webkit-linear-gradient(#ff6e70 0,#c72d2d 100%);
    background-image: -moz-linear-gradient(#ff6e70 0,#c72d2d 100%);
    background-image: -ms-linear-gradient(#ff6e70 0,#c72d2d 100%);
    background-image: -o-linear-gradient(#ff6e70 0,#c72d2d 100%);
    background-image: linear-gradient(#ff6e70 0,#c72d2d 100%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffc72d2d', endColorstr='#ffff6e70', GradientType=0);
    border: 1px solid #BB3C3E;
    text-shadow: 0 0 1px #111;
}
.green-font{
    color:#1efd00;
}
.red-font{
    color:#ff0000;
}
.icon-15{
    font-size:1.5em;
}
.icon-12{
    font-size:1.2em;
}
/* resource specific */
.text-resource{
    width:100%;
    height:100%;
    overflow: auto;
    background-color: transparent;
}
.text-resource .text-viewer{
    font-family:monospace;
    background-color: transparent;
}
.text-resource .line-number{
    display:block;
    width:40px;
    margin:0;
    padding:0 px 2px 0px 0px;
    border-right:solid 1px #c0c0c0;
    background-color:#e4e4e4;
    font-size:14px;
    
}
.text-resource .line-number ol{
    list-style: none;
    counter-reset: li;
    margin:0;
}
.text-resource .line-number ol li{
    counter-increment: li;
    display:block;
    width:40px;
}
.text-resource .line-number ol li::before {
    height:20px;
    line-height:20px;
    content: counter(li);
    color:rgba(0,0,0,0.5);
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
    margin-right: 0.5em;
    text-align: right;
    direction: rtl;
}
.text-resource .line-number li.hilight::before{
    font-weight:bold;
    color:rgba(0,0,0,1);
}
.text-resource .line-number li.hilight{
    border-bottom:dashed 1px rgb(0, 189, 79);
}
.text-resource .text-resource-content{
    display:block;
    line-height:20px;
    font-size:16px;
    white-space: pre;
    overflow-wrap: break-word;
}
.text-resource .linewrap-symbol{
    font-size:0.6em;
    color:#c0c0c0;
}
.popup-table{
    /* who are joining */
    width:100%;
}
.popup-table tr th{
    text-align: left;
}
.popup-table tr:nth-child(odd){
    background-color:#e8e8e8;
}
/* way the hell off screen */
.scrollbar-measure {
	width: 100px;
	height: 100px;
	overflow: scroll;
	position: absolute;
	top: -9999px;
}
